.hero-cont {
  background-image: url("./static/additional/hero.png");
  border-radius: 10px;
}

.education-cont {
  /* background-image: url("./edu-b3.png"); */
  background-color: #004c6c;
  border-radius: 10px;
}

.logo-cont {
  margin-top: 2em;
  margin-bottom: 1em;
}

.edu-detail p,
.edu-detail h2,
.edu-detail td,
.edu-detail th {
  color: #fff;
}

.grades-title {
  color: #fff;
  margin-bottom: 1em;
}

.nav-obj {
  width: 2em;
  height: auto;
}

.work-cont {
  /* background-image: url("./work-bg.png"); */
  background-color: #fff;
  border-radius: 10px;
}

.logos {
  width: 90%;
  height: auto;
}

.tud-logo {
  width: 60%;
  height: auto;
  /* margin-bottom: 1em; */
}

.tud-cont {
  margin-top: 0em;
}

.work-extra {
  font-size: 0.8em;
}

.skills {
  line-height: 3;
  /* margin-top: -0.6em; */
  padding-left: 0;
}

.title-heading {
  text-align: center;
}

.aboutme {
  margin-top: 1.3em;
}

.profpic {
  width: 50%;
  height: auto;
  margin-left: 3em;

  border-radius: 50%;
}

.profpic-cont {
  margin-left: auto;
  margin-right: auto;
}

.profpic:hover {
  content: url("./static/additional/profpic-avatar.gif");
}

ul {
  list-style: none;
}

.skill-obj {
  width: 5%;
  height: auto;
  margin-right: 0.5em;
}

.portfolio-icon {
  width: 2%;
  height: auto;
  margin-right: 0.5em;
}

.anchor-link {
  padding: 0.1em;
}

.nav-link {
  cursor: pointer;
}

.nav-anchor:hover {
  background-color: #bcbdbf;
  border-radius: 5px;
  /* padding: 5px; */
}

.contact-btn {
  margin-top: 0.3em;
}

.anchor-link:hover {
  background-color: #bcbdbf;
  border-radius: 5px;
}

.footer-text {
  text-align: center;
  margin-top: 0.5em;
}

.portfolio-work {
  margin-right: 0.5em;
}

.portfolio-title {
  padding-left: 0.8em;
  margin-bottom: -0.5em;
}

.acc-custom {
  padding: 1em;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;

  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
}

.grades-detail {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

/* ------------------------------------------- features.html */

.features-car {
  margin-top: 3em;
}

.footer-features {
  margin-top: -0.2em;
}
